.father {
    display: grid;
    min-height: 50vh;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    /* ✅ Inner each grid item control */

    /* default stretch - it will only work when the child item width is 0 */
    /* justify-items: end;
    align-items: end; */

    /* shortCut */
    place-items: end center;
}

.child{
    background-color: coral;
    width: 50px;
    height: 50px;
    display: flex; 
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
/* make the child move individually */
.child:nth-child(6){
    background-color: teal;
    /* align-self: start;
    justify-self: end; */

    place-self: start center;
    grid-column: span 2;
}
