.father {
    display: grid;
    min-height: 100vh;
    gap: 10px;
    /* max-content -> grows based on the contents size */
    /* grid-template-columns: 1fr max-content 1fr; */

    /* min size will be based on longest word */
    grid-template-columns: 1fr min-content 1fr; 
    background-color: blue;
}

.child{
    background-color: tomato;
    display: flex; 
    color: white;
    justify-content: center;
    align-items: center; 
    font-size: 28px;
}