.father {
    display: grid;
    min-height: 100vh;
    gap: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    background-color: lightblue;

    /* this only work when the container has an extra space. */
    /* justify-content: center;
    align-content: center; */
    place-content: center end;
}

.child{
    background-color: tomato;
    display: flex; 
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}